/* General Styles */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* Calendar Container */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 20px;
  width: 85%;
}

.calendar-month-title {
  flex-grow: 1;
  font-size: 1.5rem;
  text-align: center;
}

.calendar-header button {
  background-color: #003880;
  color: white;
  border: none;
  padding: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  min-width: 50px;
}

.calendar-header button:hover {
  background-color: #00285c;
}

/* Calendar Grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.calendar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.1rem;
  background-color: #333333;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  position: relative;
}

.calendar-cell:hover {
  background-color: #444444;
}

.calendar-cell.today {
  background-color: #4c3fd3;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.calendar-cell.empty {
  background-color: transparent;
}

/* Event Badge */
.badge-wrapper {
  position: relative;
}

.event-badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(90%);
  background-color: #ff6347;
  color: #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-badge:nth-child(n+2) {
  top: 2px;
}

.event-badge:nth-child(n+3) {
  top: 4px;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.modal h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #ffffff;
}

.modal input,
.modal textarea {
  background-color: #333333;
  color: white;
  border: 1px solid #555555;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 15px;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;
  border-color: #4888d4;
  background-color: #444444;
}

input::placeholder,
textarea::placeholder {
  color: #888888;
}

/* Modal Buttons */
.modal-btn {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.add-event-btn {
  background-color: #003880;
  width: 100%;
}

.add-event-btn:hover {
  background-color: #00285c;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.close-modal-btn:hover {
  color: #ff0000;
}

/* Event List */
.event-list-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Center the list */
}

.event-list {
  width: 100%;
  padding: 0;
}


.event-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px; /* Take full width */
  background-color: #333333;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



.event-list-item strong {
  font-weight: bold;
}

/* Event Actions */
.edit-event-button,
.delete-event-button {
  border: none;
  padding: 6px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
}

.edit-event-button {
  background-color: orange;
  margin-right: 8px;
  color: #3c2f2f;
}

.edit-event-button:hover {
  background-color: darkorange;
}

.delete-event-button {
  background-color: red;
  color: white;
}

.delete-event-button:hover {
  background-color: darkred;
}
