/* Modal Styles */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
  }
  
  .modal h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #ffffff;
  }
  
  .modal input,
  .modal textarea {
    background-color: #333333;
    color: white;
    border: 1px solid #555555;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .modal input:focus,
  .modal textarea:focus {
    outline: none;
    border-color: #4888d4;
    background-color: #444444;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #888888;
  }
  
  
/* Modal Buttons */
.modal-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .add-event-btn {
    background-color: #003880; /* Green for Add/Save */
    width: 100%;
  }
  
  .add-event-btn:hover {
    background-color: #01224d; /* Darker green on hover */
  }
  
  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
  
  .close-modal-btn:hover {
    color: #ff0000; /* Red hover effect */
  }
  

/* Event List */
.event-list-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the list */
  }
  
  .event-list {
    width: 100%;
    padding: 0;
  }
  
  
  .event-list-item {
    display: flex;
    justify-content: space-between;
    width: 700px; /* Take full width */
    background-color: #333333;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  
  
  .event-list-item strong {
    font-weight: bold;
  }
  
  /* Event Actions */
  .edit-event-button,
  .delete-event-button {
    border: none;
    padding: 6px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .edit-event-button {
    background-color: orange;
    margin-right: 8px;
    color: #3c2f2f;
  }
  
  .edit-event-button:hover {
    background-color: darkorange;
  }
  
  .delete-event-button {
    background-color: red;
    color: white;
  }
  
  .delete-event-button:hover {
    background-color: darkred;
  }